@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Sora:wght@100..800&display=swap');

@import "tailwindcss";

@theme {
    --color-dark:#000000;
    --color-gray:#B6B6B6;
    --color-light:#FFFFFF;
    --color-accent:#DF8116;

    --font-sora: "Sora", sans-serif;
    --font-jetbrains-mono: "JetBrains Mono", monospace;
}

.sora-light, :root {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--color-gray);
}

:root {
  color-scheme: light;

  color: var(--color-gray);
  background-color: var(--color-dark);

    font-size: 1rem;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

    scroll-behavior: smooth;

    overflow-x: hidden;
}

@media (min-width: 1800px) {
    :root {
        font-size: 1.2rem;
    }
}

h1 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 5rem;
    color: var(--color-light);
}

h2 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    color: var(--color-light);

    line-height: 1.1;
}

h3 {
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 2rem;
    color: var(--color-light);
}



.highlight {
    color: var(--color-accent);
    font-family: "Sora", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.mono, h4{
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h4 {
    color: var(--color-light);
    font-weight: bold;
    font-size: 1.2rem;
    padding-top: 1.5rem;
}

.clip-triangle-top {
    clip-path: polygon(0 100%, 100% 0, 100% 100%, 0% 100%);
}

.clip-triangle-bottom {
    clip-path: polygon(100% 0, 0 100%, 0 0, 100% 0);
}